.country-details-container{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 32px;
}

.back-button{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    padding: 6px 24px;
    border-radius: 4px;
    cursor: pointer;
}
.country-details {
    display: flex;
    align-items: center;
    gap: 64px;
    margin-top: 64px;
}

.country-details img {
    width: 40%;
    box-shadow: 0 0 1px 0px black;
}

.detailed-text{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 64px;
    flex-wrap: wrap;
    max-height: 190px;
}

.detailed-text p {
    margin: 0;
}


.border-countries {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}

.border-countries a {
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-inline: 4px;
    padding: 6px 16px;
    font-size: 14px;
}

/* .languages{
    background-color: green;
    height: 50px;
    display: flex;
    
} */

@media (max-width: 1030px) {
    .country-details{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 32px;
        gap: 16px;
    }
    .detailed-text{
        display: block;
        max-height: unset;
    }
    .detailed-text p {
        margin: 16px;

    }
    .country-details img {
        width: 100%;
        max-width: 400px;
    }
    .title {
        font-size: 16px;
    }
    .header-content p {
        font-size: 12px;
    }
    .border-countries a {
        padding: 3px 8px;
    }
    .border-countries {
        flex-direction: column;
    }
    .border-countries p{
        margin-left: 15%;
        width: 100%;
    }
}